/*
 * 色の設定
 */

$c_black: #222222;
$c_grey: #a9a9a9;
$c_white: #ffffff;

/*
 * ブレークポイント
 */

$breakpoint: 768px;
$breakpoint_m: 1024px;
$breakpoint_mm: 1180px;
$breakpoint_l: 1280px;
$breakpoint_ll: 1500px;
$breakpoint_max: 1920px;