.p-contact{
  padding: 24px 0;
  width: 100%;
  @include mq{
    padding: 48px 0;
  }
  &__main{
    width: 100%;
    margin-bottom: 24px;
    @include mq_m{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 40px;
    }
    &__left{
      width: 100%;
      margin-bottom: 16px;
      font-size: 16px;
      color: $c_black;
      @include m(privacy){
        font-size: 14px;
        @include mq{
          font-size: 18px;
        }
        @include mq_m{
          line-height: 1.5;
        }
      }
      @include mq{
        font-size: 18px;
      }
      @include mq_m{
        margin-bottom: 0;
        width: 25%;
        font-size: 22px;
      }
      .required{
        background-color: $c_black;
        color: $c_white;
        padding: 2px 5px;
        margin-left: 20px;
        font-size: 12px;
        @include mq{
          font-size: 14px;
        }
      }
      .f_18{
        font-size: 14px;
        @include mq{
          font-size: 18px;
        }
      }
      
    }
    &__right{
      width: 100%;
      word-break: break-all;
      @include mq_m{
        width: 75%;
      }
      input{
        width: 100%;
        background-color: $c_white;
        border: solid 1px $c_grey;
        height: 50px;
        padding: 0 1em;
        font-size: 16px;
        font-family: 'Noto Serif JP', serif;
      }
      textarea{
        width: 100%;
        height: 250px;
        background-color: $c_white;
        border: solid 1px $c_grey;
        padding: 10px 1em;
        font-size: 16px;
        font-family: 'Noto Serif JP', serif;
        max-width: 100%;
      }
      label{
        display: block;
        line-height: 28px;
        position: relative;
        @include mq{
          line-height: 1.5;
          display: inline-block;
          margin-right: 40px;
        }
        input[type="radio"]{
          display: none;
        }
        input[type="radio"]:checked + span:after{
          opacity: 1;
        }
        span{
          font-size: 14px;
          position: relative;
          @include mq{
            font-size: 18px;
          }
          &:hover{
            cursor: pointer;
          }
          &:before{
            content: "";
            position: absolute;
            width: 20px;
            height: 20px;
            background-color: $c_white;
            border: solid 1px $c_black;
            top: 0;
            bottom: 0;
            margin: auto;
            right: -30px;
          }
          &:after{
            content: "";
            position: absolute;
            top: 5px;
            right: -28px;
            width: 14px;
            height: 7px;
            border-left: 3px solid $c_black;
            border-bottom: 3px solid $c_black;
            transform: rotate(-45deg);
            opacity: 0;
            @include mq{
              top: 7px;
            }
          }
        }
      }
      .wpcf7-not-valid-tip{
        margin: 10px 0;
      }
    }
  }
  &__submit{
    margin: 40px auto 0;
    display: flex;
    align-items: center;
    padding: 0;
    &:hover{
      cursor: pointer;
    }
    input{
      background-color: transparent;
      color: $c_black;
      font-size: 18px;
      font-family: 'Noto Serif JP', serif;
      width: 100%;
      padding: 20px 0;
      &:hover{
        cursor: pointer;
      }
    }
  }
  .wpcf7-response-output{
    border: 0;
  }
  .mwform-radio-field + .horizontal-item{
    margin-left: 0 !important;
  }
  &__finish{
    font-size: 16px;
    line-height: 1.5;
    color: $c_black;
    @include mq{
      font-size: 20px;
    }
    @include mq_m{
      font-size: 24px;
    }
  }
}