.o-box {
  @include m(error){
    width: 100%;
    margin-top: 54px;
    padding-top: 20px;
    @include mq_m{
      margin-top: 100px;
    }
    @include mq_ll{
      margin-top: 120px;
    }
    .error__message{
      font-size: 24px;
      color: $c_black;
      line-height: 30px;
      margin-bottom: 20px;
      @include mq{
        font-size: 32px;
        margin-bottom: 40px;
      }
    }
    .error__text{
      font-size: 16px;
      line-height: 24px;
      color: $c_black;
      margin-bottom: 20px;
      @include mq{
        font-size: 18px;
        line-height: 30px;
        margin-bottom: 40px;
      }
    }
  }
}