.o-box {
  @include m(registration){
    display: none;
    position: fixed;
    top: 40%;
    right: 6%;
    z-index: 9999;
    @include mq_mm{
      display: block;
    }
    .registration__box{
      width: 300px;
      height: 100px;
      background-color: #FFD500;
      box-shadow: 0 4px 0 #E1A456;
      border-radius: 5px;
      p{
        color: #80581F;
        padding-top: 16px;
        padding-bottom: 12px;
      }
      a{
        display: block;
        width: 245px;
        background-color: #AB7F3E;
        box-shadow: 0 4px 0 #80581F;
        color: white;
        font-size: 17px;
        line-height: 35px;
        border-radius: 5px;
        margin: 0 auto;
        position: relative;
        &:hover{
          box-shadow: none;
          position: relative;
          top: 1px;
        }
        &:before{
          position: absolute;
          content: "";
          right: 20px;
          width: 10px;
          height: 10px;
          top: 0;
          bottom: 0;
          margin: auto;
          border-top: 2px solid white;
          border-right: 2px solid white;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          @include mq{
            right: 20px;
          }
        }
      }
    }
    .registration__image{
      margin-top: 16px;
    }
  }
  @include m(index_bid){
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 6.25%;
    @include mq{
      padding: 0 2%;
    }
    @include mq_mm{
      padding: 0;
    }
    .index_bid__box{
      width: 48%;
      max-width: 240px;
      margin: 0 auto;
      @include mq_mm{
        margin: 0;
      }
    }
    .index_bid__box__image{
      width: 100%;
      img{
        width: 100%;
      }
    }
    .index_bid__box__text{
      display: flex;
      margin-bottom: 7px;
      margin-top: 10px;
      @include mq{
        display: block;
      }
      p:nth-child(1){
        font-size: 8px;
        background-color: #FFE400;
        padding: 0 4px;
        margin-right: 5px;
        line-height: 24px;
        @include mq{
          font-size: 14px;
          display: inline-block;
          padding: 5px 11px;
        }
      }
      p:nth-child(2){
        font-size: 10px;
        color: #E64040;
        @include mq{
          font-size: 16px;
          padding-top:12px;
          padding-bottom: 8px;
        }
        span{
          font-size: 14px;
          @include mq{
            font-size: 20px;
          }
        }
      }
    }
    .index_bid__box__title{
      font-size: 10px;
      @include mq{
        font-size: 14px;
      }
    }
  }
  @include m(no1){
    margin: 40px auto;
    padding: 0 6.25%;
    @include mq{
      padding: 0 2%;
      margin: 70px auto 100px;
    }
    @include mq_mm{
      padding: 0;
    }
  }
  @include m(no1_detail){
    width: 100%;
    @include mq{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .no1_detail__content{
      width: 100%;
      max-width: 340px;
      margin: 0 auto 15px;
      @include mq_mm{
        margin: 0;
      }
      .no1_detail__content__title{
        background-color: #36C1CD;
        border-radius: 5px 5px 0 0;
        padding: 12px 0;
        p{
          display: inline-block;
          vertical-align: middle;
          color: white;
          font-size: 21px;
          @include mq{
            font-size: 26px;
          }
          img{
            padding-left: 10px;
          }
        }
      }
      .no1_detail__content__image{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .no1_detail__content__text{
        background-color: #FFFBC2;
        padding: 22px 5%;
        border-radius: 0 0 5px 5px;
        p{
          color: #80581F;
          line-height: 20px;
          font-size: 13px;
          @include mq{
            font-size: 18px;
            line-height: 27px;
          }
        }
      }
    }
  }
  @include m(index_about){
    width: 100%;
    padding: 36px 0;
    background-color: #FFE600;
  }
  @include m(index_about_detail){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 6.25% 0;
    @include mq{
      padding: 20px 2% 0;
    }
    @include mq_l{
      padding: 20px 0 0;
    }
    .index_about_detail-content{
      margin: 0 auto 24px;
      width: 131px;
      position: relative;
      @include mq{
        width: 278px;
      }
      @include mq_mm{
        margin: 0 0 24px;
      }
      .content__image{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .content__text{
        font-size: 18px;
        line-height: 22px;
        color: #80581F;
        padding-top: 10px;
        @include mq{
          padding-top: 30px;
          font-size: 22px;
          padding-left: 70px;
        }
      }
      .content_absolute{
        width: 43px;
        height: 43px;
        left: 0;
        top: 50%;
        position: absolute;
        @include mq{
          width: 68px;
          height: 68px;
          top: initial;
          bottom: -5%;
        }
      }
    }
  }
  @include m(index_menu){
    width: 100%;
    padding: 0 6.25%;
    margin: 40px auto;
    @include mq{
      padding: 0 2%;
      margin: 70px auto;
    }
    @include mq_mm{
      padding: 0;
    }
  }
  @include m(index_menu_detail){
    padding-top: 18px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mq{
      padding-top: 36px;
    }
    .index_menu_detail__content{
      width: 133px;
      margin:0 auto 10px;
      @include mq{
        width: 340px;
        margin: 0 auto 50px;
      }
      @include mq_mm{
        margin: 0 0 50px;
      }
      .content__image{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .content__title{
        display: block;
        color: black;
        position: relative;
        font-size: 9px;
        padding-top: 6px;
        padding-bottom: 5px;
        @include mq{
          font-size: 20px;
          padding-top: 16px;
          padding-bottom: 12px;
        }
        &:before{
          content: "";
          position: absolute;
          right: 1px;
          width: 5px;
          height: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          border-top: 1px solid black;
          border-right: 1px solid black;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          @include mq{
            width: 10px;
            height: 10px;
            border-top: 2px solid black;
            border-right: 2px solid black;
            right: 3px;
          }
  
        }
      }
      .content__detail{
        line-height: 12px;
        font-size: 8px;
        @include mq{
          font-size: 14px;
        }
      }
    }
  }
  @include m(news){
    padding: 0 6.25%;
    @include mq{
      padding: 0 2%;
    }
    @include mq_mm{
      padding: 0;
    }
  }
  @include m(news__detail){
    width:100%;
    padding-top: 16px;
    padding-bottom: 2px;
    @include mq{
      padding-top: 32px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .news__detail__box{
      display: flex;
      padding-bottom: 20px;
      .news__detail__box-image{
        width: 25%;
        padding-right: 5px;
        max-width: 120px;
        img{
          max-width: 100%;
        }
        @include mq{
          padding-right: 0px;
          margin-right: 5px;
        }
        @include mq_m{
          margin-right: 15px;
        }
      }
      .news__detail__box-text{
        padding-top: 1px;
        .detail__top{
          padding-bottom: 5px;
          @include mq{
            padding-bottom: 15px;
          }
          .category{
            background-color: #FFE400;
            padding: 2px 7px;
            font-size: 9px;
            @include mq{
              font-size: 14px;
            }
          }
          .date{
            padding-left: 20px;
            font-size: 11px;
            position: relative;
            @include mq{
              font-size: 13px;
            }
            &:before{
              content: "";
              position: absolute;
              left: 7px;
              top: 6px;
              width: 4px;
              height: 1px;
              background: black;
            }
            &:after{
              content: "";
              position: absolute;
              top: 4.68px;
              left: 7.5px;
              width: 4px;
              height: 4px;
              border-top: 1px solid black;
              border-right: 1px solid black;
              -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
        .detail__bottom{
          font-size:11px;
          line-height: 1.5;
          display: block;
          color: black;
          @include mq_m{
            font-size: 16px;
          }
        }
      }
    }
  }
  @include m(index_application){
    width: 100%;
    .index_application__box{
      width: 100%;
      padding: 45px 6.25%;
      @include mq{
        display: flex;
        justify-content: space-between;
        padding: 0 2% 45px;
      }
      @include mq_mm{
        padding: 0 0 45px;
      }
      .index_application__box__mail{
        background-color: #36C1CD;
        width: 100%;
        position: relative;
        height: 64px;
        display: block;
        @include mq{
          width: 48%;
          max-width:520px;
          height: 120px;
        }
        &:before{
          content: "";
          position: absolute;
          background-color: white;
          width: 17px;
          height: 16px;
          border-radius: 50%;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            width: 24px;
            height: 24px;
          }
          @include mq_m{
            width: 32px;
            height: 32px;
            right: 16px;
          }
        }
        &:after{
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          border: 5px solid;
          border-color: transparent transparent transparent #36C1CD;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            border: 7px solid;
            border-color: transparent transparent transparent #36C1CD;
          }
          @include mq_m{
            border: 9px solid;
            border-color: transparent transparent transparent #36C1CD;
            right: 16px;
          }
          

        }
        p{
          color: white;
          font-size: 10px;
          padding-top: 14px;
          @include mq{
            font-size: 16px;
            padding-top: 36px;
          }
          @include mq_m{
            padding-top: 32px;
          }
          span{
            font-size: 14px;
            padding-top: 8px;
            display: block;
            @include mq{
              font-size: 20px;
              padding-top: 15px;
            }
            @include mq_m{
              font-size: 25px;
            }

          }
        }
        .campaign__absolute{
          position: absolute;
          left: 14px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 25px;
          @include mq_m{
            width: 48px;
          }
        }
      }
      .index_application__box__line{
        background-color: #00B900;
        width: 100%;
        position: relative;
        @include mq{
          width: 48%;
          max-width: 520px;
          display: block;
        }
        &:before{
          content: "";
          position: absolute;
          background-color: white;
          width: 17px;
          height: 16px;
          border-radius: 50%;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            width: 24px;
            height: 24px;
          }
          @include mq_m{
            width: 32px;
            height: 32px;
            right:16px;
          }
        }
        &:after{
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          border: 5px solid;
          border-color: transparent transparent transparent #00B900;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            border: 7px solid;
            border-color: transparent transparent transparent #00B900;
          }
          @include mq_m{
            border: 9px solid;
            border-color: transparent transparent transparent #00B900;
            right: 16px;
          }

        }
        p{
          color: white;
          font-size: 10px;
          padding-top: 14px;
          @include mq{
            font-size: 16px;
            padding-top: 36px;
          }
          @include mq_m{
            padding-top: 32px;
          }
          span{
            font-size: 14px;
            padding-top: 8px;
            display: block;
            @include mq{
              font-size: 20px;
              padding-top: 15px;
            }
            @include mq_m{
              font-size: 25px;
            }

          }
        }
        .campaign__absolute{
          position: absolute;
          left: 14px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 25px;
          @include mq_m{
            width: 52px;
          }
        }
      }
    }
    .index_application__campaign{
      display: none;
      @include mq{
        display: block;
        padding: 0 2% 50px;
        display: flex;
        justify-content: space-between;
      }
      @include mq_mm{
        padding: 0 0 50px;
      }
      .campaign__box{
        width: 20%;
        background-color: #EFEFEF;
        @include mq_mm{
          width: 23.14%;
        }
        p{
          line-height: 160px;
          color: black;
          font-size: 20px;
        }
      }
    }
  }
  @include m(include_map){
    width: 100%;
    background-image: url(../images/index/index_sitemap_back_sp.png);
    background-repeat: no-repeat;
    background-size: cover;
    @include mq{
      background-image: url(../images/index/index_sitemap_back_pc.png);
      background-size: cover;
    }
  }
  @include m(index_sitemap){
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 6.25%;
    max-width: 1233px;
    margin: 0 auto;
    @include mq{
      background-image: url(../images/index/index_sitemap_back_pc.png);
      background-size: cover;
      padding: 60px 2%;
    }
    @include mq_m{
      padding: 60px 6.25%;
    }
    @include mq_mm{
      justify-content: space-between;
      padding: 60px 0;
    }
    .sitemap{
      margin: 0 0 10px 0;
      position: relative;
      width: 30%;
      @include mq{
        width: 234px;
      }
      img{
        width: 64px;
        @include mq{
          width: 150px;
        }
      }
      .sitemap__title{
        color: #80581F;
        font-size: 8px;
        line-height:11px;
        padding: 10px 0;
        @include mq{
          font-size: 22px;
          line-height: 28px;
        }

      }
      .sitemap__link{
        display: block;
        background-color: white;
        border: solid 3px #FFE400;
        box-sizing: border-box;
        border-radius: 3px;
        font-size: 7px;
        position: relative;
        color: black;
        line-height: 16px;
        @include mq{
          font-size: 18px;
          line-height: 46px;
        }
        &:before{
          content: "";
          position: absolute;
          background-color: #FFE400;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            width: 24px;
            height: 24px;
          }
        }
        &:after{
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          border: 2.5px solid;
          border-color: transparent transparent transparent #36C1CD;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            border: 7px solid;
            border-color: transparent transparent transparent #36C1CD;
          }

        }
      }
      .sitemap_order{
        display: block;
        background-color: #36C1CD;
        border-radius: 3px;
        font-size: 7px;
        position: relative;
        color: white;
        line-height: 22px;
        @include mq{
          font-size: 18px;
          line-height: 52px;
        }
        &:before{
          content: "";
          position: absolute;
          background-color: white;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            width: 24px;
            height: 24px;
          }
        }
        &:after{
          content: "";
          position: absolute;
          width: 0px;
          height: 0px;
          border: 2.5px solid;
          border-color: transparent transparent transparent #36C1CD;
          right: 5px;
          top: 0;
          bottom: 0;
          margin: auto;
          @include mq{
            border: 7px solid;
            border-color: transparent transparent transparent #36C1CD;
          }
          

        }
      }
      .absolute__sitemap{
        position: absolute;
        left: 5px;
        top: 30%;
        background-color: #FFE400;
        width: 18px;
        height: 18px;
        color: black;
        font-size: 9px;
        text-align: center;
        line-height: 18px;
        border-radius: 50%;
        @include mq{
          width: 44px;
          height: 44px;
          font-size: 24px;
          line-height: 44px;
          top: 35%;
          left: 20px;
        }
      }
      .absolute__current__sitemap{
        position: absolute;
        max-width: 150px;
        right: 0;
        left: 0;
        margin: auto;
        width: 100%;
        top: -24px;
        font-size: 8px;
        background-color: white;
        border: solid 1px #DDDDDD;
        color: #00B900;
        padding: 5px 0;
        box-sizing: border-box;
        border-radius: 5px;
        @include mq{
          font-size: 16px;
        }
        &:before{
          content: "";
          position: absolute;
          bottom: -16px;
          left: 50%;
          margin-left: -10%;
          border: 8px solid transparent;
          border-top: 10px solid #FFF;
          z-index: 2;
          @include mq{
            margin-left: -7%;
          }
        }
        &:after{
          content: "";
          position: absolute;
          bottom: -18px;
          left: 50%;
          margin-left: -10%;
          border: 8px solid transparent;
          border-top: 10px solid #DDDDDD;
          z-index: 1;
          @include mq{
            margin-left: -7%;
          }
        }

      }
    }
    .sitemap:nth-child(2){
      margin: 0 9px 10px 9px;
      @include mq_mm{
        margin: 0 0 10px 0;
      }
    }
    .sitemap:nth-child(4){
      margin: 0 5px 10px 0;
      @include mq_mm{
        margin: 0 0 10px 0;
      }
    }
    .sitemap:nth-child(5){
      margin: 0 0px 10px 5px;
      @include mq_mm{
        margin: 0 0 10px 0;
      }
    }
  }
  @include m(message_yellow){
    background-color: #FFE400;
    width: 100%;
    padding: 40px 0;
    @include mq{
      padding: 47px 0;
    }
    p{
      font-size: 8px;
      line-height: 16px;
      @include mq{
        font-size: 15px;
        line-height: 22.5px;
      }
    }
  }
  @include m(about_top){
    margin: 30px auto;
    @include mq{
      margin: 60px auto 90px;
    }
    .about_top__detail{
      margin: 20px auto 0;
      display: flex;
      flex-wrap: wrap;
      justify-content:center;
      max-width: 970px;
      width: 100%;
      
      @include mq{
        margin: 40px auto 0;
      }
      img{
        display: block;
        width: 100%;
        height: 140px;
        max-width: 150px;
        margin: 0 auto 30px;
        @include mq{
          max-width: 297px;
          height: 265px;
        }
      }
    }
  }
  @include m(inquiry_top){
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include mq_m{
      justify-content: space-between;
    }
    .inquiry_top__box{
      margin: 0 auto 20px;
      @include mq_m{
        margin: 0;
      }
      p:nth-child(1){
        margin-bottom: 10px;
        img{
          width: 150px;
          @include mq{
            width: 320px;
          }
        }
        @include mq{
          margin-bottom: 20px;
        }
      }
      p:nth-child(2){
        font-size: 16px;
        line-height: 26px;
        @include mq{
          font-size: 30px;
          line-height: 39px;
          color: #707070;
        }
        @include mq_m{
          font-size: 30px;
        }
      }
    }
  }
  @include m(inquiry_work){
    width: 100%;
    max-width: 1080px;
    padding: 0 6.25%;
    margin: 0 auto 60px;
    @include mq{
      padding: 0 2%;
      margin: 0 auto 120px;
    }
    @include mq_mm{
      padding: 0;
      margin: 0 auto 180px;
    }
  }
  @include m(inquiey_work__detail){
    width: 100%;
    @include mq{
      display: flex;
      justify-content: space-between;
    }
    .inquiry_work__detail__box{
      padding: 20px 2%;
      width: 100%;
      margin: 0 auto 20px;
      max-width: 530px;
      background-color: #FBFBFB;
      box-shadow: 1px 3px 0 rgba(0,0,0,0.3);
      @include mq{
        width: 49%;
        margin: 0;
      }
      @include mq_m{
        padding: 20px;
      }
      p:nth-child(1){
        background-color: #36C1CD;
        padding: 5px 0;
        margin-bottom: 20px;
        @include mq{
          padding: 10px 0;
        }
        span{
          color: white;
          position: relative;
          line-height: 40px;
        }
        .font_s{
          font-size: 18px;
          border-bottom: solid 3px #FFE400;
          @include mq_m{
            font-size: 25px;
          }
        }
        .font_b{
          font-size: 24px;
          border-bottom: solid 3px #FFE400;
          @include mq{
            font-size: 30px;
          }
        }
      }
      p:nth-child(2){
        margin-bottom: 20px;
      }
      p:nth-child(3){
        
        font-size: 16px;
        line-height: 25px;
        letter-spacing: 0.05em;
        @include mq{
          font-size: 22px;
          line-height: 31px;
          padding-bottom: 30px;
        }
      }
    }
  }
  @include m(inquiry_flow){
    margin: 30px auto;
    @include mq{
      margin: 80px auto;
    }
    @include mq_mm{
      margin: 80px auto 110px;
    }
  }
  @include m(inquiry_flow__detail){
    .inquity_flow__detail__title{
      width: 100%;
      background-color: #36C1CD;
      p{
        display: inline-block;
        vertical-align: middle;
        color: white;
        font-size: 18px;
        line-height: 39px;
        @include mq{
          font-size: 24px;
          line-height: 60px;
        }
        img{
          vertical-align: middle;
        }
      }
      p:nth-child(1){
        margin-left: 18px;
      }
    }
    .inquiry_flow__detail__text{
      margin: 20px 0;
      padding: 0 2%;
      @include mq{
        margin: 30px 0 70px;
      }
      @include mq_mm{
        padding: 0;
      }
      p{
        font-size: 14px;
        color: black;
        line-height: 27px;
        @include mq{
          font-size: 18px;
        }
      }
    }   
  }
  @include m(inquiry_menu){
    margin-bottom: 30px;
    @include mq{
      margin-bottom: 60px;
    }
    @include mq_mm{
      margin-bottom: 120px;
    }
  }
  @include m(inquiry_menu__detail){
    width: 100%;
    @include mq{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 2%;
    }
    @include mq_mm{
      padding: 0;
    }
    .inquiry_menu__detail__list{
      width: 90%;
      margin: 0 auto 30px;
      max-width: 320px;
      @include mq_m{
        margin: 0 0 30px;
      }
      @include mq_mm{
        margin: 0;
      }
      p{
        color: #80581F;
        font-size: 24px;
        line-height: 24px;
        @include mq{
          font-size: 32px;
          line-height: 39px;
        }
      }
      p:nth-child(2){
        margin-top: 20px;
      }
    }
    .inquiry_menu__detail__content{
      width: 80%;
      max-width:520px;
      margin: 0 auto 20px;
      min-height: 80px;
      display: flex;
      align-items: center;
      border: solid 3px #FFE400;
      position: relative;
      @include mq{
        width: 48%;
        min-height: 120px;
        margin: 0 0 20px;
      }
      @include mq_mm{
      }
      p{
        color: #80581F;
        font-size: 16px;
        padding-left: 60px;
        line-height: 1.4;
        @include mq{
          font-size: 24px;
          padding-left: 90px;
        }
        @include mq_m{
          font-size: 30px;
        }
        .number{
          position: absolute;
          color: black;
          font-size: 20px;
          background-color: #FFE400;
          border-radius: 50%;
          padding: 7px 14px;
          margin: 0 10px;
          left: 10px;
          top: 0;
          bottom: 0;
          margin: auto;
          width: 40px;
          height: 40px;
          line-height: 28px;
          @include mq{
            font-size: 32px;
            padding: 10px 22px;
            width: 62px;
            height: 62px;
            line-height: 42px;
          }
        }
        
      }
    }
    .inquiry_menu__detail__content:last-child{
      margin: 0 auto;
      @include mq{
        max-width: 1080px;
        width: 100%;
      }
      @include mq_mm{
        margin: 0;
      }
    }
  }
  @include m(inquiry_price){
    margin: 0 auto 30px;
    @include mq{
      margin-bottom: 0 auto 60px;
    }
    @include mq_mm{
      margin-bottom: 0 auto 120px;
    }
  }
  @include m(inquiry_price__image){
    margin: 30px auto;
    width: 100%;
    max-width: 772px;
    @include mq{
      margin: 60px auto;
      display: flex;
      justify-content: space-between;
    }
    img{
      display: block;
      margin: 0 auto 20px;
    }
    img:nth-child(1){
      width: 80%;
      max-width: 328px;
    }
    img:nth-child(2){
      width: 80%;
      max-width:365px;
    }
  }
  @include m(inquiry_banner){
    background-color: #F42B73;
    width: 90%;
    margin: 0 auto;
    padding: 30px 2%;
    @include mq{
      width: 100%;
      display: flex;
      padding: 30px 0;
    }
    .inquiry_banner__image{
      max-width: 119px;
      @include mq{
        margin-left: 4%;
        margin-right:4%
      }
      @include mq_m{
        margin-left: 6%;
        margin-right: 4.5%;
      }
      img{
        width: 100%;
      }
    }
    .inquiry__banner__text{
      p:nth-child(1){
        background-color: white;
        color: #80581F;
        line-height: 36px;
        font-size: 16px;
        margin-bottom: 20px;
        border-radius: 3px;
        @include mq{
          font-size: 20px;
          margin-bottom: 30px;
          margin-top: 10px;
        }
      }
      p:nth-child(2){
        text-align: center;
        img{
          vertical-align: middle;
          width: 50px;
          @include mq{
            width: 70px;
          }
          @include mq_m{
            width: 80px;
          }
        }
        a{
          color: white;
          font-size: 28px;
          font-weight: 700;
          vertical-align: middle;
          padding-left: 10px;
          @include mq{
            font-size: 40px;
          }
          @include mq_m{
            font-size: 54px;
          }
        }
      }
      p:nth-child(3){
        text-align: center;
        color: white;
        font-size: 13px;
        font-weight: 400;
        margin-top: 10px;
        @include mq{
          font-size: 15px;
        }
        @include mq_m{
          font-size: 17px;

        }
      }
    }
    .inquiry__banner__right{
      margin-top: 20px;
      @include mq{
        margin-top: 10px;
        padding-top: 20px;
        margin-left: 2.7%;
      }
      .inquiry__banner__right__text{
        color: white;
        font-size: 18px;
        @include mq{
          font-size: 22px;
        }
        @include mq_m{
          font-size: 26px;
        }
      }
    }
  }
  @include m(inquiry_method){
    width: 100%;
    background-color: #FFE400;
    padding: 30px 0;
    @include mq{
      padding: 60px 0;
    }
    @include mq_mm{
      padding: 120px 0;
    }
  }
  @include m(inquiry_method__detail){
    width: 100%;
    padding: 0 2%;
    max-width: 995px;
    margin: 0 auto;
    @include mq{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include mq_m{
      justify-content: space-between;
      padding: 0;
    }
    .inquiry_method__detail__content{
      width: 90%;
      margin: 0 auto 20px;
      max-width: 320px;
      overflow: hidden;
      background-color: white;
      padding: 10px 13px 0;
      @include mq_m{
        margin: 0;
      }
      .inquiry_method__top{
        line-height: 24px;
        color: #80581F;
        font-size: 14px;
      }
      .inquiry_method__title{
        font-size: 20px;
        color: white;
        background-color: #36C1CD;
        line-height: 45px;
        position: relative;
        color: white;
        img{
          position: absolute;
          left: 10px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
      .inquiry_method__main{
        font-size: 18px;
        line-height: 1.5;
        color: #80581F;
        padding: 10px 0;
      }
      .inquiry_method__image{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .inquiry_method__text{
        padding-top: 16px;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 40px;
      }
    }
  }
  @include m(inquiry_difference){
    padding: 30px 0;
    @include mq{
      padding: 60px 0;
    }
    @include mq_m{
      padding: 120px 0;
    }
  }
  @include m(inquiry_defference__main){
    position: relative;
    margin: 20px auto 0;
    @include mq{
      margin: 27px auto 0;
    }
    @include mq_m{
      display: flex;
      justify-content: space-between;
    }
    .inquiry_defference__main__content{
      width: 90%;
      margin: 0 auto 20px;
      @include mq_m{
        margin: 0;
        text-align: right;
      }
    }
    .inquiry_defference__image{
      position: relative;
      p{
        color: #80581F;
        max-width: 206px;
        margin: 0 auto 80px;
        font-size: 20px;
        line-height: 26px;
        border: solid 2px #AB7F3E;
        box-sizing: border-box;
        padding: 10px 0;
      }
      img{
        display: block;
        position: absolute;
        top: 90px;
        right: 0;
        left: 0;
        margin: auto;
        transform:rotate(90deg);

      }
    }
  }
  @include m(inquiry_defference__last){
    margin-bottom: 50px;
    @include mq_mm{
      margin-bottom: 100px;
    }
  }
  @include m(inquiry_merit){
    background-color: #36C1CD;
    width: 100%;
    padding: 30px 0;
    @include mq{
      padding: 60px 0;
    }
    @include mq_m{
      padding: 120px 0;
    }
  }
  @include m(inquiry_merit__top){
    width: 100%;
    @include mq{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    @include mq_m{
      justify-content: space-between;
    }
    .inquiry_merit__top__content{
      width: 90%;
      max-width: 349px;
      margin: 0 auto 20px;
      align-items: center;
      background-color: white;
      .merit__top__yellow{
        background-color: #FFE400;
        padding-top: 10px;
        overflow: hidden;
        p:nth-child(1){
          color: #80581F;
          background-color: white;
          width: 106px;
          margin: 0 auto;
          padding: 10px 0;
          position: relative;
          border-radius: 5px;
          margin-bottom: 15px;
          &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid white;
            bottom: -10px;
            right: 0;
            left: 0;
            margin: auto;

          }
        }
        p:nth-child(2){
          color: #F42B73;
          font-size: 30px;
          line-height: 50px;
          margin-bottom: 20px;
          span{
            border-bottom: solid 5px #36C1CD;
          }
        }
      }
      .merit__top__white{
        background-color: white;
        padding: 25px;
        p{
          color: #80581F;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }
  @include m(inquiry_merit__bottom){
    margin-top: 10px;
    padding: 10px;
    background-color:#FFE400; 
    .inquiry_merit__bottom__top{
      @include mq{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }
      .inquiry_merit__bottom__top-left{
        max-width: 446px;
        @include mq{
          width: 41%;
        }
        p:nth-child(1){
          background-color: white;
          border-radius: 5px;
          width: 120px;
          line-height: 39px;
          position: relative;
          font-size: 18px;
          color: #80581F;
          margin: 40px auto 20px;
          @include mq{
            margin: 40px 0 20px;
          }
          &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid white;
            bottom: -10px;
            right: 0;
            left: 0;
            margin: auto;

          }
        }
        p:nth-child(2){
          color: #F42B73;
          font-size: 18px;
          margin-bottom: 40px;
          span{
            border-bottom: solid 5px #36C1CD;
          }
          @include mq{
            font-size: 24px;
          }
          @include mq_m{
            font-size: 32px;
          }
        }
        p:nth-child(3){
          background-color: white;
          padding: 30px 10px;
          color: #80581F;
          line-height: 30px;
          font-size: 18px;
          @include mq{
            font-size: 20px;
          }
        }
      }
      .inquiry_merit__bottom__top-right{
        max-width: 598px;
        img{
          vertical-align: middle;
        }
       @include mq{
         width: 55%;
       }
      }
    }
    .inquiry_merit__bottom__bottom{
      width: 100%;
      margin-top: 10px;
      @include mq{
        display: flex;
        justify-content: space-between;
      }
      .inquiry_merit__bottom__bottom-left{
        background-color: white;
        padding: 10px 0;
        margin-bottom: 10px;
        .inquiry_merit__bottom__title{
          font-size:23px;
          line-height: 24px;
          width: 90%;
          max-width: 394px;
          margin: 0 auto;
          border-bottom: dotted 3px #80581F;
          color: #80581F;
          padding-bottom: 5px;
        }
        @include mq{
          width: 49%;
          margin-bottom: 0;
        }
        ul{
          width: 80%;
          margin: 20px auto; 
          @include mq_m{
            display: flex;
            flex-wrap: wrap;
            width: 75%;
          }
          
          li{
            color: #80581F;
            padding-bottom: 20px;
          }
          li:nth-child(odd){
            @include mq_m{
              width: 60%;
            }
          }
        }
      }
      .inquiry_merit__bottom__bottom-right{
        background-color: white;
        padding: 10px 0;
        .inquiry_merit__bottom__title{
          font-size:23px;
          line-height: 24px;
          width: 90%;
          max-width: 394px;
          margin:0 auto;
          border-bottom: dotted 3px #80581F;
          color: #80581F;
          padding-bottom: 5px;
        }
        @include mq{
          width: 49%;
        }
        ul{
          width: 80%;
          margin: 20px auto; 
          @include mq_m{
            display: flex;
            flex-wrap: wrap;
            width: 75%;
          }
          li{
            color: #80581F;
            padding-bottom: 20px;
          }
          li:nth-child(odd){
            @include mq_m{
              width: 60%;
            }
          }
        }
      }
    }
  }
  @include m(inquiry_qa){
    width: 100%;
    padding: 30px 0;
    @include mq{
      padding: 60px 0 120px;
    }
    @include mq_m{
      padding:120px 0 180px; 
    }
  }
  @include m(inquiry_qa__detail){
    background-color: #FFF8CC;
    width: 90%;
    padding: 0 2.7%;
    margin: 0 auto 20px;
    @include mq_mm{
      width: 100%;
    }
    .inquiry_qa__detail__q{
      display: flex;
      align-items: center;
      border-bottom: dotted 4px #80581F;
      padding: 20px 0;
      
      p:nth-child(1){
        margin-right: 17px;
      }
      p:nth-child(2){
        font-size: 20px;
        line-height: 28px;
      }
    }
    .inquiry_qa__detail__a{
      display: flex;
      align-items: center;
      padding: 20px 0;
      p:nth-child(1){
        margin-right: 17px;
      }
      p:nth-child(2){
        line-height: 20px;
        font-size: 16px;
      }

    }
  }
  @include m(about_link){
    width: 100%;
    padding: 0 6.25%;
    position: relative;
    margin-bottom: 30px;
    @include mq{
      display: flex;
      justify-content: space-between;
      padding: 0 2%;
      margin-bottom: 60px;
    }
    @include mq_m{
      margin-bottom: 120px;
    }
    @include mq_mm{
      padding: 0;
      
    }
    .sidebar{
      width: 21%;
      max-width: 230px;
      margin-left: 30px;
      display: none;
      position: absolute;
      top: 0;
      right: 2%;
      z-index: 100;
      @include mq{
        display: block;
      }
      @include mq_mm{
        right: 0;
      }
      .sidebar__box__top{
        width: 100%;
        height: 150px;
        background-color: #EFEFEF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        p{
          color: black;
          font-size: 20px;
        }
      }
      .sidebar__box__bottom{
        width: 100%;
        height: 100px;
        background-color: #EFEFEF;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        p{
          color: black;
          font-size: 20px;
        }
      }
      .sidebar__calculation{
        background-color: white;
        border: solid 2px #36C1CD;
        box-sizing: border-box;
        margin-bottom: 10px;
        padding: 10px 1%;
        .title{
          color:#36C1CD;
          padding-bottom: 10px;
          font-size: 12px;
          @include mq_m{
            font-size: 16px
          }
        }
        .menu_title{
          padding-bottom: 5px;
          text-align: left;
          p{
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            font-size: 11px;
            @include mq_m{
              font-size: 14px;
            }
          }
        }
        .market{
          .input{
            width: 60%;
            border-radius: 5px;
            background-color: #FFFBC2;
            border: solid 1px #80581F;
            box-sizing: border-box;
            padding-left: 1em;
            font-size: 11px;
            height: 26px;
            color: #979090;
            @include mq_m{
              font-size: 14px;
              width: 70%;
            }
          }
          .submit{
            background-color: #36C1CD;
            box-shadow: 0 2px 0 #2C9EA8;
            font-size: 9px;
            color: white;
            border-radius: 5px;
            padding: 3px;
          }
        }
        .market__text{
          font-size: 10px;
          padding: 5px 0;
        }
        #calcInput{
          width: 96%;
          border-radius: 5px;
          background-color: #FFFBC2;
          border: solid 1px #80581F;
          box-sizing: border-box;
          text-align: right;
          height: 26px;
          padding-right: 5px;
          font-family: 'Lato', sans-serif;
        }
        .over{
          background-color: #36C1CD;
          box-shadow: 0 2px 0 #2C9EA8;
          font-size: 9px;
          color: white;
          border-radius: 5px;
          padding: 5px 0;
          font-size: 14px;
          width: 80%;
          display: block;
          margin: 5px auto;
        }
        #calcResult{
          display: none;
          .result__top{
            padding: 10px 0;
            color: black;
          }
          .resultPrice{
            .resultTit{
              padding: 10px 0;
              color: black;
            }
          }
          .resultDetail{
            .detailTit{
              padding: 10px 0;
              color: black;
            }
            .result_table{
              margin: 10px auto;
              tbody{
                tr{
                  th{
                    width: 50%;
                  }
                  td{
                    width: 50%;
                    text-align: right;
                  }
                }
              }
            }
          }
          
        }
      }
    }
  }
  @include m(about_reason){
    width: 100%;
    background-color: #36C1CD;
    padding: 30px 6.25%;
    @include mq{
      padding: 60px 2%;
    }
    @include mq_m{
      padding: 90px 2%;
    }
    @include mq_mm{
      padding: 90px 0;
    }
  }
  @include m(about_main){
    width: 100%;
    background-color: white;
    padding: 10px 2%;
    margin-bottom: 10px;
    @include mq{
      display: flex;
      align-items: center;
    }
    .about_main_title{
      font-size: 20px;
      color: #80581F;
      margin-bottom: 10px;
      line-height: 1.2;
      @include mq{
        font-size: 22px;
        margin-bottom: 0;
        padding: 0 5%;
        line-height: 1.5;
        min-width: 103px;
      }
      @include mq_m{
        font-size: 25px;
      }
      span{
        font-size: 50px;
        @include mq{
          font-size: 60px;
        }
      }
    }
    .about_main_detail{
      color: #F42B73;
      font-size: 20px;
      line-height: 1.5;
      text-align: center;
      @include mq{
        text-align: left;
        font-size: 18px;
      }
      @include mq_m{
        font-size: 20px;
      }
      .font_25{
        @include mq_m{
          font-size: 25px;
        }
      }
      .font_b{
        font-size: 24px;
        @include mq{
          font-size: 36px;
        }
        @include mq_m{
          font-size: 50px;
        }
        .number{
          font-size: 36px;
          @include mq{
            font-size: 60px;
          }
          @include mq_m{
            font-size: 70px;
          }
        }
        .font_s{
          font-size: 24px;
          @include mq{
            font-size: 30px;
          }
          @include mq_m{
            font-size: 39px;
          }
        }
      }
    }
  }
  @include m(no1_detail__about){
    width: 100%;
    @include mq{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .no1_detail__content{
      width: 100%;
      max-width: 265px;
      margin: 0 auto 15px;
      background-color: #FFFBC2;
      @include mq_mm{
        margin: 0;
      }
      .no1_detail__content__title{
        background-color: #36C1CD;
        border-radius: 5px 5px 0 0;
        padding: 12px 0;
        p{
          display: inline-block;
          vertical-align: middle;
          color: white;
          font-size: 21px;
          img{
            padding-left: 10px;
          }
        }
      }
      .no1_detail__content__image{
        width: 100%;
        img{
          width: 100%;
        }
      }
      .no1_detail__content__text{
        background-color: #FFFBC2;
        padding: 11px 5%;
        border-radius: 0 0 5px 5px;
        p{
          color: #80581F;
          line-height: 20px;
          font-size: 13px;
          @include mq{
            font-size: 16px;
            line-height: 27px;
          }
        }
      }
    }
  }
  @include m(about_voice){
    width: 100%;
    background-color: #FFE400;
    padding: 30px 6.25%;
    @include mq{
      padding: 60px 2%;
    }
    @include mq_m{
      padding: 120px 2%;
    }
    @include mq_mm{
      padding: 120px 0;
    }
  }
  @include m(about_voice__detail){
    width: 100%;
    background-color: white;
    padding: 20px 10px;
    margin-top: 30px;
    @include mq{
      padding: 20px;
    }
    @include mq_mm{
      padding: 20px 30px;
    }
    .image__none{
      display: none;
    }
    .about_voice__detail-title{
      color: #80581F;
      font-size: 18px;
      border-bottom: dotted 4px #80581F;
      padding-bottom: 4px;
      @include mq_m{
        font-size: 24px;
        padding-bottom:8px;
      }
      @include mq_mm{
        font-size: 30px;
      }
    }
    .about_voice__detail-main{
      width: 100%;
      margin: 20px 0;
      @include mq{
        display: flex;
        align-items: center;
      }
      .about_voice__image{
        width: 90%;
        max-width: 252px;
        margin: 0 auto 20px;
        @include mq{
          width: 33%;
          margin: 0 3% 0 0;
        }
        @include mq_m{
          margin: 0 6% 0 0;
        }
        @include mq_mm{
          margin: 0 7% 0 0;
        }
        img{
          width: 100%;
        }
      }
      .about_voice__text{
        max-width: 451px;
        margin: 0 auto;
        @include mq{
          width: 68%;
          margin: 0;
        }
        .about_voice__text-title{
          color: #80581F;
          letter-spacing: 0.05em;
          line-height: 39px;
          font-size: 18px;
          border-bottom: dotted 4px #80581F;
          width: 100%;
          @include mq{
            font-size: 22px;
          }
          @include mq_m{
            font-size: 28px;
          }
        }
        .about_voice__price{
          margin-top: 10px;
          display: flex;
          position: relative;
          @include mq{
            align-items: flex-end;
          }
          &:before{
            content: "";
            position: absolute;
          }
          p{
            color: #80581F;
            span{
              color: #E64040;
            }
          }
          p:nth-child(1){
            font-size: 12px;
            @include mq{
              font-size: 15px;
            }
            span{
              font-size: 26px;
              @include mq{
                font-size: 30px;
              }
            }
          }
          p:nth-child(2){
            margin: 0 5px;
            @include mq_m{
              margin: 0 25px;
            }
          }
          p:nth-child(3){
            font-size: 14px;
            @include mq{
              font-size: 18px;
            }
            span{
              font-size: 28px;
              @include mq{
                font-size: 40px;
              }
              @include mq_m{
                font-size: 55px;
              }
            }
          }
        }
        .about_voice_etc{
          margin-top: 10px;
          @include mq{
            margin-top: 15px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          p{
            color: white;
            line-height: 36px;
            font-size: 18px;
            margin-bottom: 3px;
          }
          .delivery{
            background-color: #48CDD8;
            @include mq{
              width: 49%;
            }
          }
          .option{
            background-color: #96CD36;
            @include mq{
              width: 49%;
            } 
          }
          .brand{
            background-color: #FF7070;
            margin-bottom: 0;
            width: 100%;
          }
        }
      }

    }
    .about_voice__human{
      margin-top: 30px;
      .human__title{
        font-size:17px;
        color: #80581F;
        margin-bottom: 10px;
        .era{
          font-size: 13px;
        }
        .sex{
          font-size: 15px;
        }
        .name{
          font-size: 22px;
        }
      }
      .human__detail{
        font-size: 15px;
        color: black;
        line-height: 22px;
        letter-spacing: 0.02em;
      }
    }
  }
  @include m(about_price){
    padding: 30px 6.25%;;
    background-color: white;
    @include mq{
      padding: 60px 2%;
    }
    @include mq_m{
      padding: 120px 2%;
    }
    @include mq_mm{
      padding: 120px 0;
    }
  }
  @include m(about_method){
    padding: 30px 6.25%;;
    background-color: #36C1CD;
    @include mq{
      padding: 60px 2%;
    }
    @include mq_m{
      padding: 120px 2%;
    }
    @include mq_mm{
      padding: 120px 0;
    }
  }
  @include m(about_method__detail){
    width: 100%;
    background-color: white;
    padding: 20px 2%;
    .about_method__detail__title{
      background-color: #FFE400;
      padding: 13px 0;
      font-size: 18px;
      color: #80581F;
      @include mq{
        font-size: 20px;
      }
      @include mq_m{
        font-size: 27px;
      }
    }
    .about_method__detail__text{
      padding: 15px 0;
      font-size: 16px;
      letter-spacing: 0.05em;
      line-height: 26px;
      color: #80581F;
      span{
        border-bottom: solid 3px #36C1CD;
      }
      
      @include mq{
        font-size: 18px;
      }
    }
    .about_method__detail__list{
      margin-top: 30px;
      padding-left: 2%;
      ul{
        li{
          position: relative;
          padding-left: 1em;
          font-size: 16px;
          margin-bottom: 30px;
          line-height: 1.5;
          &:before{
            content: "";
            position: absolute;
            width: 14px;
            height: 14px;
            background-color: #FFE400;
            border-radius: 50%;
            top: 4px;
            left: -4px;
          }
        }
        li:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  @include m(about_calculation){
    padding: 30px 6.25%;;
    background-color: #EFEFEF;
    margin-bottom: 40px;
    @include mq{
      padding: 60px 2%;
      margin-bottom: 80px;
    }
    @include mq_m{
      padding: 120px 2%;
    }
    @include mq_mm{
      padding: 120px 0;
    }
  }
  @include m(inquiry_calculation_detail){
    width: 100%;
    background-color: white;
    padding: 20px 2%;
    .inquiry_calculation_detail-main{
      width: 100%;
      @include mq{
        display: flex;
      }
      .detail__left{
        width: 100%;
        margin: 0 auto;
        position: relative;
        border-bottom: dotted 4px #80581F;
        @include mq{
          width: 50%;
          border-right: dotted 4px #80581F;
          border-bottom: solid 0px;
        }
        .main_title{
          p{
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
            padding-bottom: 10px;
            color: #80581F;
            @include mq{
              font-size: 16px;
            }
            @include mq_m{
              font-size: 23px;
            }
            img{
              width: 18px;
              @include mq{
                width: 35px;
              }
              @include mq_m{
                width: 45px;
              }
            }
          }
        }
        .main_description{
          font-size: 12px;
          color: #80581F;
          @include mq{
            font-size: 15px;
          }
          @include mq_m{
            font-size: 18px;
          }
        }
        .form__left{
          margin: 20px auto;
          @include mq{
            padding-right: 5%;
          }
          .form__text{
            width: 100%;
            background-color: #FFFBC2;
            border: solid 1px #80581F;
            display: block;
            border-radius: 5px;
            height: 45px;
            margin: 0 auto 30px;
            font-size: 18px;
            color: #979090;
            padding: 0 4%;
          }
          .form__left__submit{
            background-color: #36C1CD;
            box-shadow: 0 4px 0 #2C9EA8;
            width: 80%;
            display: block;
            max-width: 207px;
            height: 45px;
            color:white;
            font-size: 22px;
            border-radius: 5px;
            margin: 0 auto;
            &:hover{
              box-shadow: none;
              position: relative;
              top: 1px;
              outline: 0;
              opacity: 0.8;
              text-decoration: none;
              cursor: pointer;
            }
          }
        }
      }
      .detail__right{
        width: 100%;
        margin: 0 auto;
        position: relative;
        padding: 20px 0 0 0;
        @include mq{
          width: 50%;
          padding: 0 0 0 3%;
        }
        .main_title{
          p{
            display: inline-block;
            vertical-align: middle;
            font-size: 13px;
            padding-bottom: 10px;
            color: #80581F;
            @include mq{
              font-size: 16px;
            }
            @include mq_m{
              font-size: 23px;
            }
            img{
              width: 18px;
              @include mq{
                width: 35px;
              }
              @include mq_m{
                width: 45px;
              }
            }
          }
        }
        .main_description{
          font-size: 12px;
          color: #80581F;
          line-height: 20px;
          @include mq{
            font-size: 14px;
            line-height: 24px;
          }
          @include mq_m{
            font-size: 18px;
            line-height: 29px;
          }
        }
        .right__form{
          margin: 20px auto;
          .form__title{
            font-size: 14px;
            color: #80581F;
            line-height: 29px;
            @include mq{
              font-size: 18px;
            }
          }
          #calcInputBottom{
            width: 100%;
            background-color: #FFFBC2;
            border: solid 1px #80581F;
            display: block;
            border-radius: 5px;
            height: 45px;
            margin: 0 auto 30px;
            font-size: 18px;
            color: #979090;
            padding: 0 4%;
            text-align: left;
          }
          .over{
            background-color: #36C1CD;
            box-shadow: 0 4px 0 #2C9EA8;
            width: 80%;
            display: block;
            max-width: 207px;
            height: 45px;
            color:white;
            font-size: 22px;
            border-radius: 5px;
            margin: 0 auto;
            line-height: 45px;
            &:hover{
              box-shadow: none;
              position: relative;
              top: 1px;
              outline: 0;
              opacity: 0.8;
              text-decoration: none;
              cursor: pointer;
            }
          }
          .uketori{
            width: 100%;
            background-color: #FFFBC2;
            border: solid 1px #80581F;
            display: block;
            border-radius: 5px;
            height: 45px;
            margin: 0 auto 30px;
            font-size: 18px;
            color: #979090;
            padding: 0 4%;
            text-align: left;
            line-height: 45px;
          }
          #calcResultBottom{
            display: none;
            margin-top: 20px;
          }

          .uketori__box{
            margin-top: 30px;
          }
        }

      }
    }
  }
}