.o-bread_list {
  @include m(lower){
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    li{
      font-size: 10px;
      color: $c_black;
      padding-right: 30px;
      position: relative;
      line-height: 1.5;
      @include mq{
        font-size: 12px;
      }
      &:before{
        content: "<";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        margin: auto;
      }
      a{
        color: $c_black;
      }
    }
    li:last-child{
      padding-right: 0;
      &:before{
        content: "";
      }
    }
  }
}