.o-form{
    @include m(inquiry){
        width: 90%;
        margin: 0 auto 40px;
        border: solid 1px #80581F;
        padding: 20px 2.7%;
        @include mq{
            padding: 40px 2.7%;
            margin: 0 auto 80px;
        }
        .inquiry__list{
            margin-bottom: 20px;
            @include mq{
                margin-bottom: 40px;
            }
            p:nth-child(1){
                font-size: 14px;
                color: black;
                position: relative;
                margin-left: 20px;
                padding-bottom: 10px;
                @include mq{
                    font-size: 20px;
                }
                span{
                    background-color: #E64040;
                    color: white;
                    margin-left: 5px;
                    padding: 0 5px;
                }
                &:before{
                    position: absolute;
                    content: "";
                    left: -18px;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 3px;
                    @include mq{
                        border-top: 2px solid black;
                        border-right: 2px solid black;
                        width: 8px;
                        height: 8px;
                        top:6px;
                    }
                }
            }
            p:nth-child(2){
                input{
                    width: 100%;
                    height: 45px;
                    background-color: #FFFBC2;
                    border: solid 1px#80581F;
                    box-sizing: border-box;
                    padding:0 20px;
                    font-size: 16px;
                    @include mq{
                        font-size: 20px;
                    }
                }
                input[type=radio]{
                    display: none;
                }
                .label{
                    position: relative; 
                    padding: 0 0 0 42px; 
                    margin: 10px 0;
                    @include mq{
                        display: inline;
                        margin: 10px 0 0;
                    }
                }
                .label:after{
                    position: absolute;
                    content: "";
                    display: block;
                    top: 50%;
                    left: 15px;
                    margin-top: -10px;
                    width: 16px;
                    height: 16px;
                    border: 2px solid #ccc;
                    border-radius: 50%;
                    @include mq{
                        top: 60%;
                    }
                }
                .label:before{
                    position: absolute; 
                    content: "";
                    display: block;
                    top: 35%;
                    left: 18px;
                    margin-top: -5px;
                    width: 10px;
                    height: 10px;
                    background: black;
                    border-radius: 50%; 
                    opacity: 0; 
                    @include mq{
                        top: 50%;
                    }
                }
                input[type=radio]:checked + .label:before {
                    opacity: 1;
                }

              
            }
            p:nth-child(3){
                font-size: 14px;
                line-height: 30px;
                @include mq{
                    font-size: 17px;
                }
            }
        }
        .inquiry__list_b{
            margin-bottom: 20px;
            @include mq{
                margin-bottom: 40px;
            }
            p:nth-child(1){
                font-size: 14px;
                color: black;
                position: relative;
                margin-left: 20px;
                padding-bottom: 10px;
                @include mq{
                    font-size: 20px;
                }
                span{
                    background-color: #E64040;
                    color: white;
                    margin-left: 5px;
                    padding: 0 5px;
                }
                &:before{
                    position: absolute;
                    content: "";
                    left: -18px;
                    width: 6px;
                    height: 6px;
                    border-top: 1px solid black;
                    border-right: 1px solid black;
                    -webkit-transform: rotate(45deg);
                    transform: rotate(45deg);
                    top: 3px;
                    @include mq{
                        border-top: 2px solid black;
                        border-right: 2px solid black;
                        width: 8px;
                        height: 8px;
                        top:6px;
                    }
                }
            }
            p:nth-child(2){
                input{
                    width: 100%;
                    height: 135px;
                    background-color: #FFFBC2;
                    border: solid 1px#80581F;
                    box-sizing: border-box;
                    padding:0 20px;
                    font-size: 16px;
                    @include mq{
                        font-size: 20px;
                    }
                }
            }
        }
        .submit{
            width: 90%;
            max-width: 360px;
            background-color: #E64040;
            box-shadow: 0 4px 0 #E56363;
            color: white;
            font-size: 20px;
            line-height: 52px;
            position: relative;
            margin: 0 auto;
            input{
                color: white;
                font-size: 16px;
                background-color: #E64040;
                font-weight: bold;
                @include mq{
                    font-size: 20px;
                }
            }
            &:before{
                position: absolute;
                content: "";
                right: 20px;
                width: 10px;
                height: 10px;
                border-top: 2px solid white;
                border-right: 2px solid white;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 0px;
                bottom: 0;
                margin: auto;
                
            }
        }
    }
}